<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RecentActivitiesFile" value="RecentActivities.dat" />
		<add key="Timesheet" value="TimeSheet.csv"/>
		
		<!-- HotKey configuration -->
		<add key="shift" value="false" />
		<add key ="ctrl" value ="true" />
		<add key ="alt" value ="true" />
		<add key ="key" value ="T"/>
		<!-- End HotKey configuration -->
	
	</appSettings>
	<connectionStrings>
		<add name="Journal" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Jounal.sdf" />
	</connectionStrings>
</configuration>