<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
  <appSettings>
    <add key="RecentActivitiesFile" value="RecentActivities.dat" />
    <add key="Timesheet" value="TimeSheet.csv" />
    
    <!-- HotKey configuration -->
    <add key="shift" value="false" />
    <add key="ctrl" value="true" />
    <add key="alt" value="true" />
    <add key="key" value="T" />
    <!-- End HotKey configuration -->
    
  </appSettings>
</configuration>